<div class="container">
	<div class="card">
		<div class="card-panel teal accent-4"><span class="card-title" style="color:white;">Cadastro de produtos</span></div>
		<div class="card-content">
			
			<div class="row">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<input id="codigo" type="text" class="validate" ng-model="produto.codigo">
							<label for="codigo">Código</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="nome" type="text" class="validate" ng-model="produto.nome">
							<label for="nome">Nome</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<input id="preco" type="text" class="validate" ng-model="produto.preco">
							<label for="preco">Preço</label>
						</div>
						<div class="input-field col s6">
							<input id="estoque" type="text" class="validate" ng-model="produto.estoque">
							<label for="estoque">Estoque</label>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="card-action">
              <button class="btn waves-effect waves-light light-blue darken-3" type="submit" name="action" ng-click="salvar(produto)">Salvar produto</button>
              <a href="#" class="waves-effect waves-light btn red accent-4">Cancelar</a>
            </div>
	</div>	
</div>